repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: standardrb
        name: StandardRB
        entry: rbenv exec bundle exec standardrb --fix
        language: system
        types: [ruby]
        pass_filenames: true
